{% extends "layout.njk" %}

{% block content %}
<form class="card" method="POST" action="/cars">
    <section class="container form">
        <h3>Novo Carro</h3>
        <div class = "fields">
            {% include 'cars/fields.njk' %}
        </div>
        <button class = "button" type = "submit">Salvar</button>
    </section>
</form>
{% endblock content %}