<header>
    <div class= "container">
        <a href = "/">
            <div class = "logo">
                <h1>Lugué</h1>
                <h2>Aluguel de carros</h2>
            </div>
        </a>
        <nav class = "primary">
            <ul>
                <li>
                    <a href = "/cars/index">
                        <i class = "material-icons">drive_eta</i>
                        Carros
                    </a>
                </li>
                <li>
                    <a href = "/agencies/index">
                        <i class = "material-icons">store_mall_directory</i>
                        Agências
                    </a>
                </li>
                <li>
                    <a href = "/accounts">
                        <i class = "material-icons">person</i>
                        Minha conta
                    </a>
                </li>

    </div>
</header>